@model FinalProject.Models.Subject

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Subject</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SubjectId" />
            <div class="form-group">
                <label asp-for="SubjectCode" class="control-label"></label>
                <input asp-for="SubjectCode" class="form-control" />
                <span asp-validation-for="SubjectCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsActive" class="control-label">Active</label>
                @Html.DropDownListFor(model => model.IsActive, new[] {
             new SelectListItem() {Text = "Yes", Value = "1"},
             new SelectListItem() {Text = "No", Value = "0"}
         }, "Select", new { @class = "form-control" })
                <span asp-validation-for="IsActive" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsDelete" class="control-label">Delete</label>

                @Html.DropDownListFor(model => model.IsDelete, new[] {
                   new SelectListItem() {Text = "Yes", Value = "1"},
                   new SelectListItem() {Text = "No", Value = "0"}
               }, "Select", new { @class = "form-control" })
                <span asp-validation-for="IsDelete" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
